@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta author="Akimov" /> 
    <title>Task 8</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
        
    </environment>
</head>
<body>
    <header>
        <div class="main-wrapper">
            <img src="~/css/pic/logo_white-blue.svg" alt="EPAM" />
        </div>
    </header>
    <h1><span>Task 8</span></h1>
    <div class="row">
        <div class="container">
            <div class="text-overlay">LIST MENU - 8.1</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_1">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">REGISTRATION FORM - 8.2</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_2">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">DROPDOWN MENU - 8.3</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_3">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">POINTING BLOCK - 8.4</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_4">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">THREE COLUMN BLOCK - 8.5</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_5">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">EQUALIZER - 8.6</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_6">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">HEADER - 8.7</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_7">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">ARTICLE - 8.8</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_8">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">STEP COUNTER - 8.9</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_8" asp-action="Task8_9">Click</a></div>
            </div>
        </div>
    </div>
    <h1><span>Task 9</span></h1>
    <div class="row">
        <div class="container">
            <div class="text-overlay">CHAR REMOVER - 9.1</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_9" asp-action="Task9_1">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">MATH CALCULATOR - 9.2</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_9" asp-action="Task9_2">Click</a></div>
            </div>
        </div>
        <div class="container">
            <div class="text-overlay">BUTTERFLY CONTROL - 9.3</div>
            <div class="overlay">
                <div class="text"><a asp-controller="Task_9" asp-action="Task9_3">Click</a></div>
            </div>
        </div>
    </div>

    @*<script src="~/Script/script.js"></script>*@
</body>
</html>
