* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    outline: none;
}

.topmenu {
    backface-visibility: hidden;
}

    .topmenu > li {
        display: inline-block;
        position: relative;
    }

        .topmenu > li > a {
            height: 20px;
            padding: 0 10px;
        }

.submenu li a:hover {
    color: white;
    background-color: #37abff;
}
.atopmenu {
    color: #3524ee;
}
.atopmenu:hover {
    color: black;
}

.submenu {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 2px solid white;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100px;
    transform: perspective(500px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .5s ease-in-out;
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(500px) rotateX(0deg);
}

.submenu li a {
    color: #3524ee;
    line-height: 25px;
    padding: 0 10px;
}
