@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task9_3</title>
</head>
<body>
    <div class="div1">
        <select class="selectControl-1" multiple="multiple" size="5">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
        </select>
    </div>
    <div class="div2">
        <button>></button>
        <br />
        <button><</button>
        <br />
        <button>>></button>
        <br />
        <button><<</button>
    </div>
    <div class="div1">
        <select class="selectControl-1" multiple="multiple" size="5">
        </select>
    </div>
</body>
</html>
