@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Char remover</title>
</head>
<body>
    <input id="Text1" type="text" value="У попа была собака" />
    <button id="btn">Remover</button>
    <script src="~/Script/Task_9/Task_9_1Script.js"></script>
</body>
</html>
