@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Task_9/Task9_4Style.css" />
    </environment>
    <title>Task9_4_2</title>
</head>
<body>
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <div id="timer">
        <h2 id="time"></h2>
        <button id="btn1"><</button>
        <a asp-controller="Task_9" asp-action="Task9_4">></a>
        <br>
        <button id="stop">◼</button>
        <button id="start">►</button>
    </div>
    <div id="pageNum">
        <p>Page 3</p>
    </div>
    <script src="~/Script/Task_9/Task_9_4_2Script.js"></script>
</body>
</html>
