@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task9_2</title>
</head>
<body>
    <input id="Text" type="text" value="3+4*2- 9/-11 =" />
    <button id="btn">Calculation</button>
    <script src="~/Script/Task_9/Task_9_2Script.js"></script>
</body>
</html>
