@using EPAM.ListUserAward.WebPages.Models;
@{
    Layout = null;

    string errorMessage = null;

    double A = 0;
    double B = 0;

    double? res = null;

    if (IsPost)
    {
        if (!double.TryParse(Request["A"], out A) || !double.TryParse(Request["B"], out B))
        {
            errorMessage = "Incorrect values!";
        }
        else
        {
            errorMessage = null;
            res = A + B;
        }

        //A = double.Parse(Request["A"]);
        //B = double.Parse(Request["B"]);
    }





}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>EPAM.UserAward</title>
</head>
<body>
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    <div>

    </div>
    <form action="~/index.cshtml" method="post">
        <div>
            <label>A:</label>
            <input class="form-control" type="text" name="A" id="A" value=@A style="width:250px" />
        </div>
        <br />
        <div>
            <label>B:</label>
            <input class="form-control" type="text" name="B" id="B" value=@B style="width:250px" />
        </div>
        <br />
        <button class="btn btn-dark" style="width:250px; text-align:center">Add</button>
    </form>
    @if (res != null)
    {
        <br />
        <div class="alert alert-info">Result: @res</div>
    }

    <br />
    <button id="btn_increase" class="btn btn-secondary" style="width:250px">Count</button>
    <div class="alert alert-dark">Count: @Counter.Value</div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/popper.js"></script>

    <script>
        $('#btn_increase').click(function()
        {
            location.href = "/Pages/IncreaseCounter";
        })
    </script>

</body>
</html>
