@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Хостинг</title>
    <environment include="Development">
        <link href="~/css/Task_8/Task8_5Style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="row">
        <div class="column">
            <div class="pic1">
                <img src="~/css/Task_8/pic/Task_5img.jpg" alt="Виртуальный хостинг" />
            </div>
            <div class="label1">
                Виртуальный хостинг
            </div>
            <div class="label2">
                3.95$ в месяц
            </div>
            <button>Подробнее</button>
        </div>
        <div class="column">
            <div class="pic2">
                <img src="~/css/Task_8/pic/Task_5img.jpg" alt="Облачный хостинг" />
            </div>
            <div class="label1">
                Облачный хостинг
            </div>
            <div class="label2">
                68.95$ в месяц
            </div>
            <button>Подробнее</button>
        </div>
        <div class="column">
            <div class="pic3">
                <img src="~/css/Task_8/pic/Task_5img.jpg" alt="Выделенный сервер" />
            </div>
            <div class="label1">
                Выделенный сервер
            </div>
            <div class="label2">
                217.95$ в месяц
            </div>
            <button>Подробнее</button>
        </div>
    </div>
</body>
</html>
