@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task8_9</title>
    <environment include="Development">
        <link href="~/css/Task_8/Task8_9Style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div>
        <ul>
            <li><a href="#">Шаг 1</a></li>
            <li><a href="#">Шаг 2</a></li>
            <li><a href="#">Шаг 3</a></li>
            <li><a href="#">Шаг 4</a></li>
        </ul>
    </div>
</body>
</html>
