@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ЭКГ-5А</title>
    <environment include="Development">
        <link href="~/css/Task_8/Task8_8Style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div>
        <h1>ЭКГ-5</h1>
        <p>
            ЭКГ-5 — карьерный гусеничный экскаватор с ковшом вместимостью 5м<sup>3</sup> — электрическая карьерная полноповоротная лопата
            на гусеничном ходу, предназначенная для выемки и погрузки в транспортные средства полезных ископаемых и вскрышных пород,
            в том числе тяжёлых скальных, предварительно разрыхлённых взрывом, в угольной промышленности, а также для выполнения
            больших объёмов земляных работ в промышленном строительстве.
        </p>
    </div>
</body>
</html>
