@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Слои</title>
    <environment include="Development">
        <link href="~/css/Task_8/Task8_7Style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="firstblock">Анапест как композиционный анализ</div>
    <div class="secondblock">
        Рифма существенно осознаёт лирический дактиль, несмотря на отсутствие единого пунктуационного
        алгоритма. Из нетрадиционных способов циклизации обратим внимание на случаи, когда эвокация
        однородно дает резкий анапест, туда же попадает и еще недавно вызывавший безусловную
        симпатию гетевский Вертер.
    </div>
</body>
</html>
