@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Index";
}
<head>
    <link href="~/wwwroot/css/Index.css" rel="stylesheet" />
</head>

<div class="contenthover">
    <div class="split left">
        <img src="~/wwwroot/pic/MainPage/woman.png" alt="skateboard" class="skateboard">
        <div class="text">
            <p class="subtitle">Be on style</p>
            <h1 class="title">mmm ahhh <br>...push it!</h1>
            <p class="desc">for her</p>
            <a href="~/Pages/Woman" class="button">WOMAN</a>
        </div>
    </div>
    <div class="split right">
        <img src="~/wwwroot/pic/MainPage/Men.png" alt="shoes" class="shoes">
        <div class="text">
            <p class="subtitle">for true gentlemen</p>
            <h1 class="title">because <br>I'm happy! <br> again</h1>
            <p class="desc">for him</p>
            <a href="~/Pages/Men" class="button">MAN</a>
        </div>
    </div>
</div>

