@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-6">
        <a class="text-decoration-none text-white" href="#">
            <div class="container shoe">
                <div class="productImage shoeImg"></div>
                <div class="size shoeSize">
                    <h4>SIZE</h4>
                    <ul>
                        <li>9</li>
                        <li>8</li>
                        <li>7</li>
                    </ul>
                </div>
                <div class="price shoePrice">
                    <h4>PRICE</h4>
                    <span>$150</span>
                </div>
                <div class="color shoeColor">
                    <h4>COLORS</h4>
                    <ul>
                        <li><span class="blue"></span></li>
                        <li><span class="yellow"></span></li>
                        <li><span class="red"></span></li>
                    </ul>
                </div>
                <div class="productName shoeName">
                    Woman
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a class="text-decoration-none text-white" href="~/Pages/Men">
            <div class="container shirt">
                <div class="productImage shirtImg"></div>
                <div class="size shirtSize">
                    <h4>SIZE</h4>
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                    </ul>
                </div>
                <div class="price shirtPrice">
                    <h4>PRICE</h4>
                    <span>$50</span>
                </div>
                <div class="color shirtColor">
                    <h4>COLORS</h4>
                    <ul>
                        <li><span class="blue"></span></li>
                        <li><span class="yellow"></span></li>
                        <li><span class="red"></span></li>
                    </ul>
                </div>
                <div class="productName shirtName">
                    Men
                </div>
            </div>
        </a>
    </div>
</div>
